h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 70px;
  padding: 0%;
  margin: 1%;
}

h4 {
  font-size: 25px;
  text-decoration: underline;
}

.board {
  display: flex;
}

.players {
  width: 30%;
  margin-left: 4%;
}

.dice {
  width: 20%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 1%
}

.add {
  width: 30%;
  margin-right: 4%;
}

.add input {
  border-radius: 5px;
  font-size: 16px;
}

.die {
  width: 46%;
  margin: 2%;
}

.dieclick {
  opacity: 50%;
  width: 46%;
  margin: 2%;
}

.roll {
  font-size: 25px;  
  background-color: #022B3A;
  border-radius: 5px;
  color: #6EFAFB
}