h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 70px;
  padding: 0%;
  margin: 1%;
}

h4 {
  font-size: 35px;
  text-decoration: underline;
}

.board {
  display: flex;
}

.headers {
  display: flex;
  text-align: left;
  text-decoration: underline;
  font-size: 25px;
}

.subtitle {
  width: 50%;
}

.players {
  width: 30%;
  margin-left: 4%;
}

.playerboard {
  display: flex;
  text-align: left;
  font-size: 20px;
}

.playername {
  width: 50%;
  height: 25px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-bottom: 0;
}

.playerscore {
  margin: 0%;
}

.dice {
  width: 20%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 1%
}

.add {
  width: 30%;
  margin-right: 4%;
}

.add input {
  border-radius: 5px;
  font-size: 16px;
}

.die {
  width: 46%;
  margin: 2%;
}

.dieclick {
  opacity: 50%;
  width: 46%;
  margin: 2%;
}

.roll {
  font-size: 25px;  
  background-color: #022B3A;
  border-radius: 5px;
  color: #6EFAFB
}

.updatescore {
  margin: auto;
  margin-top: 3%;
  width: 33%;
}

.select {
  font-size: 18px;
}

.addscore {
  margin-left: 2%;
  font-size: 18px;
  border: 1px solid #6EFAFB;;
  border-radius: 5px;
  width: 15%;
}

button {
  background-color: #6EFAFB;
  color: #022B3A;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 1%;
}