h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 70px;
  padding: 0%;
  margin: 1%;
}

.line {
  width: 75%;
  height: 3px;
  border: 2px solid #6EFAFB;
}

.rulebox {
  width: 78%;
  margin: auto;
  margin-top: 3%;
  border: 2px solid #6EFAFB;
  padding: 2%;
  color: #022B3A;
  background-color: #BFDBF7;
  border-radius: 5px;
}